<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width">
    <script src="https://unpkg.com/vue@2.3"></script>
  </head>
  <body>

    <div id='app1'>
    <p>
      <span v-if="isShow">이 부분이 안보여야 정상입니다.</span> <!--v-if가 false이므로 이 엘리먼트는 보이지 않게 된다-->
    </p>
    </div>

    <div id='app2'>
    <p>
      <span v-if="alphabet=='A'">A입니다.</span>
      <span v-else-if="alphabet=='B'">B입니다.</span>
      <span v-else="alphabet=='B'">그 외입니다.</span> <!--v-else, 즉 조건이 위의 두 개와 맞지 않는 그 외이므로 이 엘리먼트만 보인다-->
    </p>
    </div>

  <script>
    new Vue({
      el: '#app1',
      data: {
        isShow: false
      }
    });

    new Vue({
      el: '#app2',
      data: {
        alphabet: 'D'
      }
    });
  </script>
  </body>
</html>
